.main {
  max-width: 990px;
  height: 983px;
  display: flex;
  flex-direction: column;
}

.main__title {
  width: 720px;
  height: 200px;
  font-family: "Inter-Black", sans-serif;
  font-size: 96px;
  font-weight: 900;
  line-height: 100px;
  text-align: center;
}

.main__subtitle {
}
