.place {
  display: flex;
}

.place__conteiner_city {
  margin: 92px auto 80px 150px;
}

.place__name {
  width: 460px;
  font-size: 72px;
  line-height: 1.1;
  font-family: "Inter-Black", sans-serif;
  margin: 0;
}

.place__image {
  display: flex;
  padding-top: 50px;
  padding-right: 40px;
  width: 460px;
  height: 460px;
}
