.places {
  display: flex;
}

.places__conteiner {
  margin: 92px auto 80px 150px;
}

.places__conteiner_city {
  display: grid;
  grid-area:
    "places__city-name ."
    "place__image places__role"
    "places__author autor"
    ". places__paragraph"
    "places__button";
    grid-template-rows: auto auto;
}

.places__city-name {
  width: 460px;
  font-size: 90px;
  line-height: 2.1;
  font-family: "Inter-Black", sans-serif;
  margin: 0;
  grid-area: places__city-name;
}

.places__image {
  display: flex;
  width: 460px;
  height: 460px;
  grid-area: places__image;
}

.places_role {
  grid-area: places_role;

}

.places__author {
  grid-area: places__author;
}

.places__description_city {
  grid-area: places__description_city;
}

.places__button {
  grid-area: places__button;

}