.places {
  display: flex;
  font-size: 18px;
  line-height: 22px;
  max-width: 987px;
  margin: auto;
}

.places__conteiner {
  margin: 92px auto 80px 150px;
}

.places__conteiner_city {
  width: 100%;
  column-gap: 40px;
  display: grid;
  grid-template-areas:
    "city ."
    "image role"
    "image author"
    ". paragraph"
    "button .";
  grid-template-rows: auto auto 460px auto;
  
}

.places__city-name {
  width: 460px;
  font-size: 90px;
  line-height: 2.1;
  font-family: "Inter-Black", sans-serif;
  margin: 0;
  grid-area: city;
}

.places__image {
  display: flex;
  width: 460px;
  height: 460px;
  grid-area: image;
}

.places_role {
  grid-area: role;

}

.places__author {
  grid-area: author;
}

.places__description_city {
  grid-area: paragraph;
}

.places__button {
  grid-area: button;

}